.App {

    &__lightbox {}
    &__filmStrip {
        position: fixed;
        width: 100vw;
        bottom: 0;
        z-index: 15;
    }
    &__gallery {}
    &__mobileButton {
        z-index: 15;
        position: fixed;
        top: 0;
        right: 0;
    }
}
