.Item {
   position: relative;
   width: 30vw;
   height: 20vw;
   background-color: #2d2d2d;
   box-shadow: 0px 1px 7px 2px #1f1f1f;
   cursor: pointer;
   transition: all .3s ease-in;
   overflow: hidden;

   &__img {
       position: relative;
       width: 120%;
       height: 120%;
       object-fit: cover;
       left: -10%;
       top: -10%;
       transform: scale(0.9);
       transition: all 380ms ease-out;
   }
}



