.Gallery {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
    background: rgb(35, 35, 35);
    min-height: 100vh;
    width: 100vw;
}

.Gallery__filmStrip {
    width: 100%;
    position: fixed;
    z-index: 20;
    bottom: 0;
}

.Gallery__item-wrapper {
   display: flex; 
   flex-flow: row wrap;
   justify-content: space-around;
   padding-bottom: 160px;
}

.Gallery__item-wrapper--blurred {
    filter: blur(5px);
}

.Gallery__item-wrapper__item {
    margin: 10px;
}
